<footer class="page-footer  teal darken-4">

    <div class="footer-copyright">
        <div class="container">
            Copyright. 2016
        </div>
    </div>

</footer>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script>
  // Initialize collapse button
  $(".button-collapse").sideNav({
      closeOnClick: true,
      draggable: true
  });


</script>
</body>
</html>