<footer class="page-footer teal lighten-1">

    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/Retsediv/Quester">Github</a>
        </div>
    </div>

</footer>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script>
  // Initialize collapse button
  $(".button-collapse").sideNav();


</script>
</body>
</html>