<!-- Modal Structure -->
<div id="register" class="modal register-modal">
    <div class="modal-content">
        <h4>Увійдіть на сайт</h4>
        <div class="row">
            <div class="col sm12 m6 l6">
                <a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="collection-item">
                    <img src="{{ url_for('static', filename='img/fb.png') }}" alt="">
                </a>
            </div>
            <div class="col sm12 m6 l6">
                <a href="{{ url_for('oauth_authorize', provider='twitter') }}" class="collection-item">
                    <img src="{{ url_for('static', filename='img/twitter.png') }}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>