<div class="col m4 l3 hide-on-small-only">
    <div class="collection sidebar">
        <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
        <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
        <a href="#!" class="collection-item">Зареєструватись</a>
        <a href="#!" class="collection-item">Увійти</a>
    </div>
</div>

<ul class="collection side-nav" id="sidebar">
    <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
    <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
    <a href="#!" class="collection-item">Зареєструватись</a>
    <a href="#!" class="collection-item">Увійти</a>
</ul>