<div class="col m4 l3 hide-on-small-only">
    <div class="collection sidebar">
        {% if current_user.is_authenticated %}
            <div class="collection-item">
                <img src="{{ current_user.img }}" alt="" class="responsive-img">
                <div>Ваш рейтинг: {{ current_user.rating }}</div>
            </div>
            <a href="#!" class="collection-item">Профіль</a>
            <a href="#!" class="collection-item">Галарея</a>
            <a href="{{ url_for('logout') }}" class="collection-item">Вийти</a>
        {% else %}
            <a href="#register" class="collection-item active">Увійти</a>
        {% endif %}
    </div>
</div>

<ul class="collection side-nav" id="sidebar">
    {% if current_user.is_authenticated %}
        <div class="collection-item">
            <img src="{{ current_user.img }}" alt="" class="responsive-img">
            <div>Ваш рейтинг: {{ current_user.rating }}</div>
        </div>
        <a href="#!" class="collection-item">Профіль</a>
        <a href="#!" class="collection-item">Галарея</a>
        <a href="{{ url_for('logout') }}" class="collection-item">Вийти</a>
    {% else %}
        <a href="#register" class="collection-item active">Увійти</a>
    {% endif %}
</ul>