.header {
    min-height: 100px;
    box-shadow: none;
    padding: 5px 0;
}

.header a {
    color: #424242;
}

.header ul a {
    padding: 0 20px;
    font-size: 1.2rem;
    transition: background-color .4s, color .4s;
}

.header ul a:hover {
    background-color: #26a69a;
    color: white;
    border-bottom: 4px solid #00897b;
}

.button-collapse {
    position: absolute;
}

.header .logo {
    width: 230px;
}

.logo-container {
    display: inline-block;
}

a.button-collapse {
    display: none;
}

@media only screen and (max-width: 600px) {
    .logo-container {
        width: 100%;
    }

    .logo-container img {
        margin: 0 auto;
        display: block;
    }

    a.button-collapse {
        display: block;
        position: absolute;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}

.register-modal img{
    width: 192px;
    display: block;
    margin: 0 auto;
}

.quest-btn, .full-width-btn {
    width: 100%;
    display: block;
}

.map {
    min-height: 300px !important;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    margin-top: 40px;
    flex: 1 0 auto;
}