{% extends "page.html" %}

{% block body %}
    <h4>Про нас:</h4>
    <p>В нас був дедлайн через тиждень, чотири студента та неймовірна жага зробити якийсь крутий проект.</p>
    <p>І ось ми його зробили! До вашої уваги ми пропонуємо наш маленький проект-стартап <big><b>Quester</b></big></p>
    <p>Наша команда:</p>
    <ol>
        <li>Журавчак Андрій</li>
        <li>Шанковський Данило</li>
        <li>Хома Андрій</li>
        <li>Вдович Станіслав</li>
    </ol>
    <p>Ми студенти першого курсу, програми CS@UCU Українського Католицького університету. Якось сидячи в нашому IT-просторі поставили перед собою питання, які актуальні речі зараз в нашому світі? Безумовно, першою актуальною штукою було те, що багато людей зараз сидить по своїх домівках та майже зовсім не виходить на вулицю, не займається спортом. А друга актуальна річ полягає в тому, що всі люди дуже полюбляють змагатись між собою.</p>
    <p>Ми задались питанням: То чому б не спробувати поєднати ці аспекти разом? </p>
    <p>Так і народився <big><b>Quester</b></big></p>
    <h4>Що це таке і з чим його їсти?</h4>
    <p>Наш проект заключається в тому, що ми пропонуємо вам виконувати різні квести на свіжому повітрі, заробляючи за це рівні та змагаючись з друзями!.</p>
    <p>На даному етапі розробки наша команда може запропонувати вам два види квестів, це спортивні та історичні. В кожен з цих видів можна грати як пішки,так і на велосипеді.</p>
    <p>Сенс полягає у тому, що ви будете отримувати випадко згенеровані квести для проходження.</p>
    <ul>
        <li>В спортивному режимі це будуть завдання накшталт: пройдіть заданий маршрут, повіджимайтесь на цьому спортмайданчику і таке інше.</li>
        <li>В історичному режимі вам буде потрібно знайти задані історичні місця у вашому місті.</li>
    </ul>
    <p>Щоб ми могли прослідкувати виконання завдання, ви будете повинні робити фото/відео підтвердження(в залежності від завдання). За вдале виконання завдань ви будете отримувати та накопичувати бали, які потім зможете порівняти з балами своїх друзів.</p>
    <hr>
    <h4>About us:</h4>
    <p>We had a deadline next week, four students and a strong desire to create an incredibly cool project.</p>
    <p>And we made it! To your attention we offer our small project <big><b>Quester</b></big></p>
    <p>Our team:</p>
    <ol>
        <li>Andrew Zhuravchak</li>
        <li>Danil Shankovskiy</li>
        <li>Andrii Khoma</li>
        <li>Stanislav Vdovich</li>
    </ol>
    <p>We are first year students of the program CS@UCU Ukrainian Catholic University. One day, sitting in our IT-space we wondered what actual things at this point in our world? The first actual thing was that a lot of people sitting in their homes now and almost never goes out, don't do sport. A second thing is that all people are very fond of competing with each other.</p>
    <p>We asked: So why don't we try to combine these two things together?</p>
    <p>And this is how <big><b>Quester</b></big> appeared</p>
    <h4>What is it and how to use it?</h4>
    <p>Our project is that we offer you to perform various quests in the open air, earn levels and compete with your friends!</p>
    <p>At this stage of development, our team can offer you two types of quests: sports and historical.</p>
    <p>The idea is that you will receive a randomly generated quests to do.</p>
    <ul>
        <li>In sport mode, it will be the task to pass the specified route, or work out on this playground.</li>
        <li>In the historical mode you will need to find a given historical places in your city.</li>
    </ul>
    <p>So that we can trace the job, you'll have to make a photo/video proof(depending on the quest type). For the successful execution of tasks you'll get and accumulate points that can then compare with your friends' scores</p>
{% endblock %}