{% extends "page.html" %}

{% block body %}
    <h4>About us:</h4>
    <p>В нас був дедлайн через тиждень, чотири студента та неймовірна жага зробити якийсь крутий проект.</p>
    <p>І ось ми його зробили! До вашої уваги ми пропонуємо наш маленький проект-стартап <big><b>Quester</b></big></p>
    <p>Наша команда:</p>
    <ol>
        <li>Журавчак Андрій</li>
        <li>Шанковський Данило</li>
        <li>Хома Андрій</li>
        <li>Вдович Станіслав</li>
    </ol>
    <p>Ми студенти першого курсу, програми CS@UCU Українського Католицького університету. Якось сидячи в нашому IT-просторі поставили перед собою питання, які актуальні речі зараз в нашому світі? Безумовно, першою актуальною штукою було те, що багато людей зараз сидить по своїх домівках та майже зовсім не виходить на вулицю, не займається спортом. А друга актуальна річь полягає в тому, що всі люди дуже полюбляють змагатись між собою.</p>
    <p>Ми задались питанням: То чому б не спробувати поєднати ці аспекти разом? </p>
    <p>Так і народився <big><b>Quester</b></big></p>
    <h4>Що це таке і з чим його їсти?</h4>
    <p>Наш проект заключається в тому, що ми пропонуємо вам виконувати різні квести на свіжому повітрі, заробляючи за це рівні та змагаючись з друзями!.</p>
    <p>На даному етапі розробки наша команда може запропонувати вам два види квестів, це спортивні та історичні. В кожен з цих видів можна грати як пішки,так і на велосипеді.</p>
    <p>Сенс полягає у тому, що ви будете отримувати випадко згенеровані квести для проходження.</p>
    <ul>
        <li>В спортивному режимі це будуть завдання накшталт: пройдіть заданий маршрут, повіджимайтесь на цьому спортмайданчику і таке інше.</li>
        <li>В історичному режимі вам буде потрібно знайти задані історичні місця у вашому місті.</li>
    </ul>
    <p>Щоб ми могли прослідкувати виконання завдання, ви будете повинні робити фото/відео підтвердження(в залежності від завдання). За вдале виконання завдань ви будете отримувати та накопичувати бали, які потім зможете порівняти з балами своїх друзів.</p>
    <h1>ДАЛІ ТУТ ЩЕ БУДЕ ІНГЛІШ ВЕРСІОН, АЛЕ ЦЕ КОЛИ Я ПРИЙДУ В КОЛЕГІУМ</h1>
{% endblock %}