{% extends "parent.html" %}

{% block body %}
    {% if current_user.is_authenticated %}
        <a href="#quest" class="waves-effect waves-light btn quest-btn">Згенерувати квест<i
                class="material-icons right">done</i></a>

        <div class="divider"></div>
        <div class="row">
            <h5>Останні прийняті чи завершені квести</h5>
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">Назва квесту | 5.12 km</span>
                        <div id="map" class="map"></div>
                        <form action="#">
                            <ul class="collection">
                                <li class="collection-item">Оперний театр
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </li>
                                <li class="collection-item">Памятник Б.Хмельницькому
                                <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </li>
                                <li class="collection-item">Личаківське кладовище
                                <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>

                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn quest-btn">Завершити квест!<i
                                class="material-icons right">done</i></a>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        Щось, коли ти ще не залогінився
    {% endif %}
{% endblock %}