{% extends "parent.html" %}

{% block body %}
    {% if current_user.is_authenticated %}
        {% if can_new %}
            <a href="#quest" class="waves-effect waves-light btn quest-btn">Згенерувати квест<i
                    class="material-icons right">done</i></a>
            <div class="divider"></div>
        {% endif %}

        <div class="row">
            <h5>Останні прийняті чи завершені квести</h5>

            {% for quest in quests %}
                <div class="col s12">
                    <div class="card hoverable {% if quest.done %} grey lighten-4 {% endif %}">
                        <div class="card-content">
                            <span class="card-title">Назва квесту | 5.12 km</span>
                            <iframe class="quest_map" width="600" height="450" frameborder="0" src="{{ quest.map_url }}"
                                    allowfullscreen></iframe>
                            {#                        {{ quest.type }}<br>#}
                            {#                        {{ quest.transport }}#}

                            <form action="#">
                                <ul class="collection">
                                    {% for dot in quest.dots %}
                                        <li class="collection-item">{{ dot.name }}
                                            <div class="file-field input-field">
                                                <div class="btn">
                                                    <span>File</span>
                                                    <input type="file">
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text">
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </form>

                        </div>
                        <div class="card-action">
                            {% if not quest.done %}
                                <a class="waves-effect waves-light btn quest-btn">Завершити квест!<i
                                        class="material-icons right">done</i></a>
                            {% else %}
                                <a class="waves-effect waves-light btn quest-btn disabled">Ви вже завершили цей квест<i
                                        class="material-icons right">done</i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        Щось, коли ти ще не залогінився
    {% endif %}
{% endblock %}