{% extends "parent.html" %}

{% block body %}
    {% if can_new %}
        <a href="#quest" class="waves-effect waves-light btn quest-btn">Згенерувати квест<i
                class="material-icons right">done</i></a>
        <div class="divider"></div>
    {% endif %}

    <div class="row">
        <h5>Останні прийняті чи завершені квести</h5>

        {% for quest in quests %}
            <div class="col s12">
                <div class="card hoverable {% if quest.done %} grey lighten-4 {% endif %}">
                    <div class="card-content">
                        <span class="card-title">Назва квесту | 5.12 km</span>
                        <div class="video-container">
                            <iframe width="600" height="450" frameborder="0" src="{{ quest.map_url }}"
                                    allowfullscreen></iframe>
                        </div>
                        {#                        {{ quest.type }}<br>#}
                        {#                        {{ quest.transport }}#}
                        {% if not quest.done %}
                            <form action="{{ url_for('upload_pictures_for_dots') }}" method="post"
                                  enctype="multipart/form-data">
                            <ul class="collection">
                                <input class="file-path hidden" type="hidden" name="quest_id" value="{{ quest.id }}"/>
                                {% for dot in quest.dots %}
                                    <li class="collection-item">{{ dot.name }}
                                        <div class="file-field input-field">
                                            <div class="btn">
                                                <span>Фотографія</span>
                                                <input class="file-path hidden" type="text" name="dots[]"
                                                       value="{{ dot.id }}"/>
                                                <input type="file" name="pict[]"/>
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="section row">
                                {% for dot in  quest.dots %}
                                    <div class="col s12 m6 l6">
                                        <img src="{{ dot.picture }}" class="responsive-img" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                    <div class="card-action">
                        {% if not quest.done %}
                            <button class="btn waves-effect waves-light quest-btn" type="submit" name="action">Завершити
                                квест!
                                <i class="material-icons right">send</i>
                            </button>
                            </form>
                        {% else %}
                            <a class="waves-effect waves-light btn quest-btn disabled">Ви вже завершили цей квест<i
                                    class="material-icons right">done</i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}